{% extends 'base.html.twig' %}

{% block title %}Valerie Chapple{% endblock %}

{% block body %}
    <div id="app">
    </div>
    <div>
        <h1>Coming soon!</h1>

        <p>Valerie Chapple</p>
        <p>Full Stack Software Developer</p>

        <div style="margin-bottom: 10px">
            This website launched on a Symfony platform within Docker containers. While this site is in its early stages, I have many goals for this site.
        </div>
        <div>&#x2713; Demo website for backend configuration in <a href="https://github.com/vchapple17/dockerlocal">Docker Local</a> - 01/03/25</div>
        <div>&#x2610; Demo website for Symfony and Vue project <a href="https://github.com/vchapple17/portfolio">Portfolio</a></div>
        <div>&#x2610; Share information about myself and demonstrate my skills</div>
        <div>&#x2610; Demo and link personal projects</div>

        <br>
        <br>
        <div style="margin-top: 30px; margin-bottom: 10px">
            Devops Progress
        </div>
        <div>&#x2713; Setup VPS with configurations, firewall, and permissions - 12/27/24</div>
        <div>&#x2713; Install docker compose and php modules - 12/29/24</div>
        <div>&#x2713; Create local and server code repository to handle docker containers easily - 01/01/25</div>
        <div>&#x2713; Setup nginx and routing- 01/08/25</div>
        <div>&#x2610; Implement Jenkins container and build processes</div>

        <br>
        <br>
        <div style="margin-top: 30px; margin-bottom: 10px">
            Portfolio Progress
        </div>
        <div>&#x2713; Init - 12/21/24</div>
        <div>&#x2713; Base Symfony and webpack setup - 01/01/25</div>
        <div>&#x2713; Simple landing page - 01/12/25</div>
        <div>&#x2713; Setup Vue 3 and Typescript - 01/13/25</div>
        <div>&#x2610; Wireframe and setup style guidelines</div>
        <div>&#x2610; Create basic vue components (e.g. navigation, inputs) or review using PrimeVue</div>
        <div>&#x2610; Setup postgres and security auth with Symfony and potentially SSO, such as Google and/or Apple</div>
        <div>&#x2610; Setup wrapper for axios and other third party packages</div>
        <div>&#x2610; Configure and implement Pinia, Fontawesome, Tailwind CSS</div>
        <div>&#x2610; Create prettier landing/home page</div>
        <div>&#x2610; Add Projects section as part of professional portfolio</div>

        <br>
        <br>
        <div style="margin-top: 30px; margin-bottom: 10px">
            Additional Project Ideas
        </div>
        <div>&#x2610; Remake my Physics Conservation of Momentum Demo</div>
        <div>&#x2610; Powerlifting Meet Manager</div>
        <div>&#x2610; Food and Beverage Rater</div>

        <br>
        <br>
        <br>
        <br>

    </div>
{% endblock %}
